.aboutPage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../assets/aboutBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Cormorant', serif;
}

.aboutSection{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 18% 10% 18%;
    margin-top: -40px;
}

.aboutSection h2{
    border-bottom: 0.01em solid white;
    padding-bottom: 8px;
    font-size: 2em;
}

.aboutSection p{
    text-align: center;
    line-height: 2;
    font-size: 1.2em;
}

.locationSection{
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 18%;
    margin-bottom: 0;
}

.locationSection h2{
    color: white;
    border-bottom: 0.01em solid white;
    padding-bottom: 8px;
    font-size: 2em;
}

.locationSection h6{
    font-size: 1em;
    color: white;
    font-weight: 200;
    font-style: italic;
}

.socialMedia{
    background: black;
    margin: 0;
    padding: 5% 18%;
    display: flex;
    flex-direction: column;
}

.socialMedia h2{
    margin-top: 0;
    color: white;
    padding-bottom: 8px;
    font-size: 2em;
    text-align: center;
    font-family: 'Cormorant', serif;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: fit-content;
    margin:auto;
}

.sm-icons{
    padding-top: 5%;
    display: flex;
    justify-content:space-evenly;
}

.sm-icon{
    text-decoration: none;
}
