* {
    text-decoration: none;
}

.cartTable {
    margin-left: auto;
    margin-right: auto;
    width:68%;
    text-align: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    margin-top: 5%;
}

.cartTable p {
    font-family: 'Cormorant', serif;
    font-size: 13px;
    font-weight: 500;
    padding-top: 10px;
}

th {
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: 13px;
    border-bottom: solid 1px black;
    height: 32px;
}

td {
    text-align: center;
    border-bottom: none;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    font-weight: 400;
}

.checkoutButton {
    margin-left: 1.5%;
    margin-top: 3%;
    background-color: black;
    font-family: 'Cormorant', serif;
    border:solid 1px white;
    border-radius: 0;
    letter-spacing: 4px;
    font-weight: 600;
    margin-bottom: 5%;
    color:white;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 11px;
    display:inline-block;
  }
  
.checkoutButton:hover {
    background-color: white;
    color:black;
    transition: 0.2s;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-color: black;
}

td img{
    width:160px;
    height: 160px;
    object-fit: cover;
    padding-top: 20px;
    
}

.removeBtn {
    background-color: white;
    border: none
}

.quantityBtn img {
    height: 20px;
   width: 20px;
}

.subtotalPrice {
    text-align: right;
    margin-right: 50px;
    font-family: 'Cormorant', serif;
    font-weight: 400;
}

.totalCost, .subtotalName {
    display:inline;
}

.subtotalName {
    margin-right: 140px;
    font-size: 15;
}

.buttonContainer {
    margin-right: 13%;
}

.buttonContainer .clearButton {
    background-color: #FE4042;
}

.buttonContainer .clearButton:hover {
    border: solid 1px #FE4042;
    background-color: white ;
    color: #FE4042;
    transition: 0.2s;
}

.material-icons {
    font-size: 20px;
    display: inline-flex;
    vertical-align: top;
  }

.updateContainer button[type=submit] {
    width: 55%;
    font-size: 0.5em;
}

.updateContainer button[type=submit]:hover {
    border: solid 1px black;
    background-color: white;
    transition: 0.2s;
}

.finaliseContainer button[type=submit] {
    width: 50%;
    font-size: 0.5em;
}

.finaliseContainer button[type=submit]:hover {
    border: solid 1px black;
    background-color: white;
    transition: 0.2s;
}

.finaliseContainer button[type=back] {
    width: 30%;
    font-size: 0.5em;
    background-color: black;
    font-family: 'Cormorant', serif;
    border:solid 1px white;
    border-radius: 0;
    letter-spacing: 4px;
    font-weight: 600;
    margin-bottom: 5%;
    color:white;
    padding: 15px 30px;
    text-transform: uppercase;
    margin-right: 15px;
}

.finaliseContainer button[type=back]:hover {
    border: solid 1px black;
    background-color: white;
    color: black;
    transition: 0.2s;
}


.cartDisplay h2 {
    font-family: 'Cormorant', serif;
}

input[type=number]{
    text-align: center;
    width: 20%
}



