.faq-accordion{
  font-family: 'Cormorant';
  margin-left: 15%;
  max-width: 70%;
  margin-top:5%;
}

.faq-accordion h3{
  border-bottom: 1px solid black;
  padding-bottom: 18px;
  font-size: 1.1em;
}

.accordion {
  /* border:1px solid rgba(0,0,0,0.1); */
  border-radius: 2px;
}
/* 
.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
} */

.accordion__button {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px 0;
  /* padding: 18px; */
  text-align: left;
  border: none;
}

.accordion__button:hover {
  background-color: #f0f0f0;
}

.accordion__button:before {
  /* display: inline-block; */
  content: '';
  height: 8px;
  width: 8px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
  float: right;
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

[hidden] {
  display: none;
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
}



