.logoutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8%;
    background-color: black;
    width:45%;
    margin: auto;
    margin-top: 5%;
}
.logoutPage h2{
    font-size: 1.5rem;
    font-family: 'Cormorant', serif;
    color: white;
}

.logoutPage .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelBtn{
    background-color: black;
    border: solid 1px white;
    font-size: 0.8rem;
    padding: 5px 20px;
    margin-right: 40px;
    color: white;
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 130px;
}

.yesBtn{
    background-color: #FE4042;
    border: solid 1px white;
    font-size: 0.8rem;
    padding: 5px 20px;
    margin-right: 20px;
    color: white;
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 130px;
}
.yesBtn:hover{
    background-color:white;
    transition: 0.2s;
    color: red;
}

.cancelBtn:hover{
    background-color:white;
    transition: 0.2s;
    color: black
}