.successPopup {
    position: relative;
    height: 100%;
    width: 100%;
}

.successMsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: white;
    font-family: 'Cormorant', serif;
    margin: 10% 20%;
}

.successMsg img {
    height: 80px;
    margin-bottom: 10px;
    animation: grow .50s;

}
@keyframes grow {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

.successMsg button {
    border: solid 1px black;
    /* border-radius: 20px; */
    font-size: 1rem;
    padding: 1% 5%;
    color:white;
    background-color:black;
    margin-top: 20px;
    width: 25%
}
.successMsg button:hover {
    background-color:white;
    color: black;
    transition: 0.2s;
}

.Orders {
  border: solid 1px black;
  width:50%;
  margin:auto;
  padding: 50px;
  margin-bottom: 50px;
  align-content: center;
}

.orderItem {
  font-size: 1em;
}

.orderTable {
  width: 100%
}

.orderID {
  font-family: 'Cormorant', serif;
  font-weight: bold;
}

.orderTotal {
  font-family: 'Cormorant', serif;
  font-weight: bold;
  text-align: right;
}