body{
    background: white;
}
.loginSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginImg{
    height: 500px;
    width: 500px;
    object-fit: cover;
}
.loginForm{
    height: 500px;
    width: 500px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginPadding{
    padding: 2% 12%;
}
.loginForm h3{
    color: white;
    text-align: left;
    font-weight: 400;
}
form{
    display: flex;
    flex-direction: column;
    position: relative;
}

form button{
    border: none;
    color: white;
    text-align: right;
    font-size: 16px;
}